body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;

}
h1 {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    
}
button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: transparent ;
    width: 45px;
    height: 45px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}
.box2 {
    margin-top: 2%;
    max-width: 100%;
}
.box {  
    max-width: 100%;
    margin: auto;
    background: #080001;
    border-radius: 5%;
}

#newgame {
    border: 3px solid #080001;
    margin-top: 20px;
     width: 200px;
    height: 45px;
     color: #BE123C;
     background-color: #9AABD8;
}